<!DOCTYPE html>
<html>
	<head>
		<meta charset="UTF-8">
		<title><%= title %></title>
		<script src="http://code.jquery.com/jquery-1.9.0.min.js"></script>
		<script src="javascripts/vendor/underscore-min.js"></script>
		<script src="javascripts/vendor/backbone-min.js"></script>
		<script type="text/javascript" src="javascripts/chat.js"></script>
		<script type="text/javascript" src="javascripts/vendor/ejs.js"></script>
		<script src="/socket.io/socket.io.js"></script>
		<script src="/socket.io/backbone.io.js"></script>
		<link rel='stylesheet' href='/stylesheets/style.css' />
	</head>
	<body>
		<div class="wrapper">
			<h1 class="wood_brand"><%= title %></h1>
			<p>Welcome to <%= title %></p>
			<div class="create_box">
			<textarea id="formMessage" class="form_message"></textarea>
			<button id="sendMessasge" class="send_message not_valid"><span class="icon wood_brand">&#10133;</span></button>
			<button id="deleteAll" class="delete_all not_valid"><span class="icon">&#59177;</span></button>
			</div>
			<ul id="messageList" class="message_list"></ul>
		</div>
	</body>
</html>