@font-face {
	font-family: 'icon-font';
	src: url(../fonts/entypo.woff);
}
html,body {
	width: 100%;
	height: 100%;
}
html {
	font-size: 62.5%;
}
body {
  padding: 50px;
  font-size: 1.2rem;
  font-family: helvetica;
  /*background: url(../images/wood_pattern.png) repeat;*/
}
img {
	vertical-align: bottom;
}
ul,li {
	list-style: none;
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 4rem;
	margin: 0;
	padding: 0;
	color: hsla(43, 46%, 44%, 1);
	text-shadow:
		-1px -1px 0 hsla(0, 0%, 0%, 1),
		-1px -1px 0 hsla(0, 0%, 0%, 1),
		1px 1px 0 hsla(0, 100%, 100%, .8);
	opacity: 0.4;
}
.icon {
	font-family: 'icon-font';
}
.form_message {
	width: 250px;
	min-height: 250px;
	background: hsla(43, 46%, 60%, .4);
	border: none;
	border-radius: 1px;
	box-shadow: 
		inset 1px 1px 0 0 hsla(0, 0%, 0%, .3),
		1px 1px 0 0 hsla(0, 100%, 100%, .4);
}
.form_message:focus {
	box-shadow:
		0 0 6px 2px hsla(0, 100%, 10%, .8);
	outline: none;
}
.send_message {
	border: 2px solid hsla(0, 0%, 0%, 0.4);
	width: 30px;
	height: 30px;
	border-radius: 2px;
	margin: 0;
	background: none;
}
.send_message .icon {
	font-size: 4rem;
	line-height: 20px;
	color: hsla(0, 0%, 60%, 1);
}
.delete_all {
	background: none;
	border: none;
}
.delete_all .icon {
	font-size: 4rem;
}

.message_list {
	margin: 20px;
}
.message_data {
	position: relative;
	display: inline-block;
}
.message_data .message_wrap {
	background: url(../images/cream_dust.png) repeat;
	position: relative;
	width: 230px;
	min-height: 240px;
	border-radius: 1px;
	margin: 5px 0;
	padding: 0 	10px 10px;
	box-shadow: 0 1px 2px 0 hsla(0, 0%, 0%, .3);
}
.message_data::before {
	content: '';
	display: block;
	width: 100px;
	height: 100px;
	position: absolute;
	bottom: 9px;
	-webkit-transform: rotate(-3deg) translate(4px, 1px) skew(-6deg, 0deg);
	box-shadow: 0 0 9px hsla(0, 0%, 0%, .7);
	opacity: 1;
	z-index: -1;
}
.message_data::after {
content: '';
display: block;
width: 100px;
height: 100px;
position: absolute;
bottom: 9px;
-webkit-transform: rotate(3deg) translate(-4px, 1px) skew(6deg, 0deg);
box-shadow: 0 0 9px hsla(0, 0%, 0%, .7);
opacity: 1;
z-index: -1;
right: 0;
}
.message_data .delete {
	float: right;
	width: 20px;
	height: 20px;
	margin: 0px;
	padding: 0;
	text-align: center;
	background: #ccc;
	border-radius: 20px;
	border: none;
	color: #fff;
	text-shadow: 0 -1px 0 hsla(0, 0%, 0%, .5);
	font-size: 3.3rem;
	line-height: 20px;
	position: absolute;
	top: 4px;
	right: 4px;
}
.message_data .message {
	margin-top: 6px;
}
time {
	font-size: 1rem;
	display: block;
	padding-top: 20px;
}
time .time {
	margin-left: 5px;
}
.edit_form {
	display: none;
	width: 224px;
	font-size: 1.2rem;
}